name: Continuous Integration Heart Failure

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    # 1. Ambil kode
    - name: Checkout code
      uses: actions/checkout@v3

    # 2. Siapkan Python
    - name: Set up Python 3.12.7
      uses: actions/setup-python@v4
      with:
        python-version: "3.12.7"

    # 3. Install Library
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install mlflow==2.19.0 pandas numpy scikit-learn matplotlib seaborn

    # 4. Jalankan MLflow (KOREKSI FINAL)
    # Mengarah ke folder MLProject
    # Menggunakan env-manager=local (pengganti no-conda)
    - name: Run MLflow Project
      run: |
        mlflow run MLProject --env-manager=local